@page "/overview"
@using Imkery.API.Client
@using Imkery.API.Client.Core
@using Imkery.Entities

<MudText Typo="Typo.h3">Hive overview</MudText>

<MudButton Variant="Variant.Filled" Color="Color.Success" Href="hive">Add Hive</MudButton>
@if (Hives.Any())
{
    <a>het werkt!?</a>
    @foreach (var hive in Hives)
    {
        <HiveCard Hive="hive" />
    }
}


@code {
    [Inject]
    public HiveClient HiveClient { get; set; }

    [Parameter]
    public MudChip[] LocationNames { get; set; }
    public ICollection<Hive> Hives { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        var filter = new FilterPagingOptions();

        //List<string> strings = new List<string>();
        //foreach(var mudChip in LocationNames)
        //{
        //    strings.Add(mudChip.Text);
        //}

        //filter.Includes = strings.ToArray();
        Hives = await HiveClient.GetCollectionAsync(filter);
    }
}