@page "/bingmap"
@inherits BingLocationPickerBase

<div id="myMap" style="position:relative; width: 100%; height: 70vh;"></div>

<MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick=" () => Test()">Test</MudButton>